<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>338484229773-d0ueal17k19ne6v1p15hv05cuvulqnjo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338484229773-d0ueal17k19ne6v1p15hv05cuvulqnjo</string>
	<key>API_KEY</key>
	<string>AIzaSyAMFPxiWVx8J96Nq6jCw8OXDz9naVah5hg</string>
	<key>GCM_SENDER_ID</key>
	<string>338484229773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialApp</string>
	<key>PROJECT_ID</key>
	<string>social-app-7c40c</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-7c40c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338484229773:ios:24bbaf98a348cd47ead4c4</string>
</dict>
</plist>